<div class="container">
    <div class="panel panel-purple">
        <div class="panel-heading">
            <h5 class="panel-title">{{title}}</h5>
            <div class="panel-icon">
                <span class="icon-cancel-2 metroicon" ng-click="dismiss();modalClose()"></span>
            </div>
        </div>
        <div class="panel-body">
            Coming soon
         </div>
    </div>
</div>


