@model IEnumerable<AzureSample.Models.Entities.CraftType>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>An Azure Sample</h2>
    <p class="lead">The Sample for Grid View Created by Angualr JS and ASP.NET</p>
    <p><a href="/Aircraft/Index" class="btn btn-primary btn-metro">Aircraft Grid</a></p>
</div>

