
<div class="form-group col-xs-12 col-lg-6">
    <label class="control-label">Type</label>
    <input type="text" class="form-control" name="TypeName"
           ng-model="newItem['TypeName']" />
</div>
